/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

html {
    overflow-y: scroll;
}

body {
    margin-top: 20px;
    padding: 0;
    background: #787878;
    text-align: justify;
    font-family: "Helvetica";
    font-size: 11px;
    color: #414141;
}

h1, h2, h3 {
    margin-top: 0;
    color: #20a3da;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #20a3da;
}

a:hover {
    border-bottom: none;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}

#header {
    width: 1000px;
    margin: 0 auto;
    height: 100px;
    background-color:#ffffff;

}


/* Header */
#logo {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    // background: url(images/img01.jpg) no-repeat left top;
}

#logo h1 {
    padding: 10px 0 0 0;
    letter-spacing: -1px;
    font-weight: normal;
    font-size: 3em;
}

#logo h1, #logo p {
    float: left;
    margin: 0;
    color: #20a3da;
}

#logo span {
    color: #000000;
}

#logo p {
    text-transform: uppercase;
    padding: 47px 0 0 3px;
    font-size: 10px;
    color: #110E0F;
}

#logo a {
    border: none;
    text-decoration: none;
    color: #20a3da;
}


/* LoginPanel */
.loginForm {
    padding: 10px 0 0 0;
    float: right;
}


/* Menu */
.menu {
    width:100%;
    // height:45px;
    // background-color:#22bbff;
}

.menu ul {
    list-style-type:none;
    margin-top:5px;
    padding:0;
    overflow:hidden;
    height:100%;
}

.menu li {
    float:left;
    margin-right:3px;
    height:100%;
}

.menu a {
    height:100%;
    padding:4px 15px 4px 15px;
    display:block;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#20a3da;
    font-size: 1.1em;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
}

.menu a:hover
{
    height:100%;
    background-color:#2023dd;
}

.curr_page a {
    color: #000000;
}

/* Wrapper */
#wrapper {
}


/* Page */
#page {
    width: 990px;
    margin: 5px auto;
    padding: 20px 5px;
    background: #FFFFFF;
}


/* Content */
#content {
    float: left;
    width: 978px;
    margin-left: 5px;
    // border: 1px solid #20A3DA;
    background-color: rgb(228, 228, 228);
}

.title {
    margin: 0;
    padding: 10px 0 4px 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.title a {
    border-bottom: none;
    color: #20a3da;
}

.title a:hover {
    border-bottom: 1px dotted #000000;
}

.byline {
    border-bottom: 1px #BBBBBB dashed;
    margin: -10px 20px 20px 20px;
}

.entry {
    background-color: #F3F3FF;
    border: 1px solid ;
    //min-height: 300px;
    text-align:left;
    padding: 0 20px;
    margin: 20px;
}

.entry table
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
}
.entry td, th
{
    font-size:1em;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}
.entry th
{
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#a0cd1f;
    color:#ffffff;
}
.entry tr.alt td
{
    color:#000000;
    background-color:#EAF2D3;
}

.entry iframe {
    float:right;
}

.entry img {
    width: auto;
    max-height: 150px;
}

.entry .rightfloat {
    text-align: right;
    float: right;
    clear: right;
    margin: 10px 0px 10px 10px;
}

.entry img:hover {
    width: auto;
    max-height: 150px;
    cursor: pointer;
}

.entry p {
    text-align: justify;
    text-justify: inter-word;
}

.links {
    padding: 4px 0px;
    text-align: right;
    font-weight: bold;
}

.links a {
    border: none;
}

.links a:hover {
    border-bottom: 1px dotted #000000;
}

.links ul {
    list-style-type: none;
    margin-bottom: 0px;
    padding-bottom: 5px;
}


/* Notepad (my links) */
.plaisio {
    background-color:#000000;
}

.notepad {
    max-width: 500px;
    padding: 65px 100px 10px 70px;
    margin: 10px;
    background-color: #F3F3FF;
    background-image: url(images/notepad.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.notepad  .title {
    font-weight: bold;
}

.notepad ul {
    list-style-type:none;
    padding:0px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.notepad li {
    /*font-size:1.1em;*/
    background-color:#DDDDDD;
    margin-bottom:2px;
}

.notepad li:hover {
    /*font-size:1.1em;*/
    background-color:#DDDDAA;
    margin-bottom:2px;
}

.notepad li > .deleteLink {
    color: #FF0000;
    min-width: 15px;
    display: inline-block;
    text-align:center;
    font-weight: bold;
    float: right;
}

.notepad  form {
    background-color:#BABABA;
    padding: 6px;
    margin-bottom: 15px;
    font-size: 0.85em;
}

.notepad  form > .inputTextfield {
    background-color: #F5F5F5;
    border: 1px solid;
    margin: 0px;
    width: 40%;
    font-size: inherit;
}

.notepad  form > #button {
    background-color: #F0F0F0;
    color: #000000;
    width: 15%;
    border: 1px solid;
    margin: 0px;
    float: right;
    font-size: inherit;
}


/* Sidebars */
#sidebar1 {
    float: left;
}

#sidebar2 {
    float: right;
}

.sidebar {
    float: left;
    width: 220px;
    padding: 0;
    font-size: 1em;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 0 0 20px 0;
}

.sidebar li ul {
}

.sidebar li li {
    margin: 0 20px 0 15px;
    padding: 8px 0px;
    border-bottom: 1px #BBBBBB dashed;
}

.sidebar li h2 {
    height: 30px;
    margin: 0 0 0 0;
    padding: 10px 15px 0px 15px;
    background: #890208 url(images/img05.jpg) no-repeat left top;
    letter-spacing: -1px;
    font-size: 16px;
    color: #FFFFFF;
}

.sidebar a {
}


/* Search */
#searchform {
    margin: 0;
    padding: 0 0 0 0;
}

#searchform br {
    display: none;
}

#searchform h2 {
}

#s {
    margin: 10px 0px 0 15px;
    padding: 2px 2px;
    width: 180px;
    height: 18px;
    border: 1px solid #CA8186;
    background: #FFFFFF;
    font-size: 10px;
    color: #000000;
}

#x {
    margin: 0;
    padding: 2px 5px;
    height: 25px;
    background: #CA8186;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #CCCCCC;
}

/* Footer */
#footer {
    font-size: smaller;
    width: 960px;
    margin: 0px auto;
    padding: 5px 20px;
    background-color: #FFFFFF;
}

.image {
    padding-left: 20px;
}


/* MOVIES SECTION STYLING */
.movies {
    margin: 0px 0px;
    padding: 10px 100px 10px 100px;
}

.movies  .sortKey{
    padding: 1px;
    margin-left: -90px;
    font-weight: bold;
        font-size: 1.4em;
    color: #000000;
}

.movies ul {
    list-style-type:none;
    padding:0px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.movies li {
    /*font-size:1.1em;*/
    background-color:#FFFFFF;
    border: 1px solid #000000;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: auto;
    font-weight: bold;
    /*width: 700px;*/
}

.movies li:hover {
    background-color:#DDDDEE;
}

.movies li > .deleteLink {
    color: #FF0000;
    min-width: 15px;
    display: inline-block;
    text-align:center;
    font-weight: bold;
    float: right;
}
.movies > form {
    background-color:#BABABA;
    padding: 6px;
    margin-bottom: 15px;
    font-size: 0.85em;
}

.movies > form > .inputTextfield {
    background-color: #F5F5F5;
    border: 1px solid;
    margin: 0px;
    width: 42%;
    font-size: inherit;
}

.movies > form > #button {
    background-color: #F0F0F0;
    color: #000000;
    width: 10%;
    border: 1px solid;
    margin: 0px;
    float: right;
    font-size: inherit;
}

.mov_title{
    color: #000000;
}

.mov_year{
    float: right;
    margin-right: 5px;
    font-weight:normal;
}

.mov_actorList{
        padding-left: 10px;
        color: #000000;
        font-weight:normal;
    font-size: 0.9em;
}

#largeImgPanel {
    text-align: center;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(100,100,100, 0.5);
}
